body {
	background-color: #272822;
}

.flexbox {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.outer {
	display:flex;
	flex-direction: column;
	background-color: dimgray;
	width: 100%;
	height: 100%;
	justify-content: space-around;
}

.inner {
background-color: gray;
align-self: center;
height: 30%;
width: 80%;
padding:2em;
text-align: center;
}